@import (once) "/libs/wcm/foundation/clientlibs/grid/grid_base.less";

/* maximum amount of grid cells to be provided */
@max_col: 12;

/* default breakpoint */
.aem-Grid {
  .generate-grid(default, @max_col);
}

/* phone breakpoint */
@media (max-width: 600px) {
  .aem-Grid {
    .generate-grid(phone, @max_col);
  }
}

/* tablet breakpoint */
@media (min-width: 601px) and (max-width: 900px) {
  .aem-Grid {
    .generate-grid(tablet, @max_col);
  }
}

/* desktop breakpoint */
@media (min-width: 901px) {
  .aem-Grid {
    .generate-grid(desktop, @max_col);
  }
}

/* padding 1.5rem and max-width: 144*1rem */
/** adding gutter and max-width information for aem-Grid*/
.cmp-fwc-container-width--fixed {
  max-width: 1152px !important;
  margin: 0 auto !important;
  float: none !important;
  clear: both !important;

  @media only screen and (max-width: 600px) {
    padding: 0 20px;
  }
}

.cmp-container .aem-Grid {
  max-width: 120rem;
  margin: 0 auto;

  &.aem-Grid--12 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .aem-GridColumn {
    padding: 0 12px;
    .fwc-row [class^=fwc-col-] {
      &:last-child {
        padding-right: 0 !important;
      }
      &:first-child {
        padding-left: 0 !important;
      }
    }
  }
}

.cq-Editable-dom .cmp-container .aem-Grid.aem-Grid--12 {
  display: block;
  align-items: stretch;
}
