# Configuration created by Apache Sling JCR Installer
clientId="fin3boxoanows5uertn9visw"
triggerMailAPIPath="messaging/v1/messageDefinitionSends/key:2694/send"
requestTimeOut=I"0"
authUrl="https://mc5s8k4mxpmd-2bwfxrn7s0nlg14.auth.marketingcloudapis.com/v2/token"
socketTimeOut=I"0"
grantType="client_credentials"
accountId="10944798"
endpointId="api.sfmc.anthemAem"
clientSecret="60Cvh1BzrRw6kb1KmCGyu283"
connectionTimeOut=I"0"
