# Configuration created by Apache Sling JCR Installer
cq.wcm.msm.action.excludednodetypes=["cq:LiveSyncConfig","cq:BlueprintSyncConfig","cq:LiveSyncAction","cq:CatalogSyncConfig","cq:CatalogSyncAction","cq:meta"]
cq.wcm.msm.action.excludedparagraphitems=["cq:propertyInheritanceCancelled","dc:title"]
cq.wcm.msm.action.ignoredMixin=[".*"]
cq.wcm.msm.action.excludedprops=["jcr:.*","sling:(?!(resourceType|resourceSuperType)$).*","cq:(?!(designPath|template|lastTranslationUpdate|targetEngine|tags)$).*","publishCampaignId"]
