# Configuration created by Apache Sling JCR Installer
externalizer.domains=["local\ http://localhost:4502","author\ http://localhost:4502","publish\ http://localhost:4503","flu\ http://localhost:4503","inc\ http://localhost:4503","empireblue\ http://localhost:4503","internalcqms\ http://localhost:4503","internal\ http://localhost:4503","healthybluela\ http://localhost:4503","agp\ http://localhost:4503"]
externalizer.contextpath=""
externalizer.host=""
externalizer.encodedpath=B"false"