# Configuration created by Apache Sling JCR Installer
apigeeClientSecretKey="c3b63ea28a69467f5db0da165e44e02d680d721164ae0209b807fa621e8e2366"
requestTimeOut=I"0"
apigeeClientID="05413c95e336496598a59c45aa3e3da5"
endpointId="api.apigee.anthemAem"
apigeeHostUrl="https://api-np.anthem.com"
socketTimeOut=I"0"
apigeeApiKey="H4mPESl6mEqk0M8iZnC5oF4IoUmVGFds"
connectionTimeOut=I"0"
