
.coral3-Dialog-header {
	width: 100% !important;
}

.coral-FixedColumn-column {
	width: 100% !important;
}

.coral3-Dialog-content {
	padding: 0px !important;
}

.coral-Form-fieldlabel {

	width: 30% !important;
    display: inline-block !important;
}

.coral-Form-field {

	width: 70% !important;
    display: inline-block !important;
}

.cq-dialog-help {

	display: none !important;
}