# Configuration created by Apache Sling JCR Installer
apigeeClientSecretKey="c080d70ecf1378cd827817ba96f5a7919e75b07f66778064d989c9b0f6e6bac6"
requestTimeOut=I"0"
apigeeClientID="19898d7a6d924a848d186d83ba04c8e8"
endpointId="api.apigee.anthemAem"
apigeeHostUrl="https://api.anthem.com"
socketTimeOut=I"0"
apigeeApiKey="Ij8BHAzFv7EnSoEvRZwq78HD6HZRGivw"
connectionTimeOut=I"0"
