# Configuration created by Apache Sling JCR Installer
clientId="m9jhpr9wcrbhzmcappzc2idg"
triggerMailAPIPath="messaging/v1/messageDefinitionSends/key:2729/send"
requestTimeOut=I"0"
authUrl="https://mc5s8k4mxpmd-2bwfxrn7s0nlg14.auth.marketingcloudapis.com/v2/token"
socketTimeOut=I"0"
grantType="client_credentials"
accountId="10849507"
endpointId="api.sfmc.anthemAem"
clientSecret="t7QBfwCkBKEPWRodIyIfjaVb"
connectionTimeOut=I"0"
