# Configuration created by Apache Sling JCR Installer
externalizer.domains=["local\ https://author-anthem-prod1.adobecqms.net","author\ https://author-anthem-prod1.adobecqms.net","publish\ https://www.anthem.com","flu\ https://www.my-flu-shot.com","inc\ https://www.antheminc.com","empireblue\ https://www.empireblue.com/","internalcqms\ https://anthem-prod1.adobecqms.net","internal\ https://anthem-prod1.adobecqms.net","healthybluela\ https://www.healthybluela.com","agp\ https://www.amerigroup.com"]
externalizer.contextpath=""
externalizer.host=""
externalizer.encodedpath=B"false"