# Configuration created by Apache Sling JCR Installer
externalizer.domains=["local\ https://author-anthem-stage.adobecqms.net","author\ https://author-anthem-stage.adobecqms.net","publish\ https://anthem-stage.adobecqms.net","flu\ https://anthem-stage.adobecqms.net","inc\ https://anthem-stage.adobecqms.net","empireblue\ https://anthem-stage.adobecqms.net","internalcqms\ https://anthem-stage.adobecqms.net","internal\ https://stage.aem.anthem.com","healthybluela\ https://anthem-stage.adobecqms.net","agp\ https://anthem-stage.adobecqms.net"]
externalizer.contextpath=""
externalizer.host=""
externalizer.encodedpath=B"false"