<sly class="cmp-icon-text" data-sly-use.template="core/wcm/components/commons/v1/templates.html"
data-cmp-is="seo" data-sly-use.model="com.anthem.platform.core.models.SeoPairModel"
data-sly-use.pageInfoModel="com.anthem.platform.core.models.datalayer.PageInfo" >
</sly>

<sly data-sly-use.customMetadata="customMetadata.html"
data-sly-call="${customMetadata.custom_metadata @ model = model, pageInfoModel = pageInfoModel, pageProperties = pageProperties}" data-sly-unwrap></sly>

<sly data-sly-list="${model.dnsLinkNames}">
	<link rel="preconnect" href="${item}" >
	<link rel="dns-prefetch" href="${item}">
</sly>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=2.0">
<meta data-sly-test="${properties.noIndex == 'true'}"  name="robots" content="noindex, nofollow"/>
<sly data-sly-include="preload.html" />
<style data-sly-test="${wcmmode.disabled}">
		.xf-content-height {
              min-height: 0px !important;
              margin: 0 0px !important;
		}
</style>


<!-- Data layer name space definition -->
<script>
var digitalData = window.digitalData || {};
digitalData.aem = digitalData.aem || {};
digitalData.aem.page = digitalData.aem.page || {};
digitalData.aem.component = digitalData.aem.component || {};
digitalData.aem.event = digitalData.aem.event || {};
</script>