<template data-sly-template.footer_include="${ @ pageModel}">
<sly data-sly-use.jsonschema="jsonschema.html" data-sly-unwrap>
    <sly data-sly-test="${!pageModel.footerFragmentPath}">
        <div data-sly-test="${(wcmmode.edit || wcmmode.preview)}"
             class="cq-dd-experiencefragment cq-placeholder "
             data-emptytext="Configure footer fragemnt ${emptyTextAppend && ' - '}${emptyTextAppend}">
        </div>
    </sly>
    <sly data-sly-test=${pageModel.footerFragmentPath}
         data-sly-resource="${@path=pageModel.footerFragmentPath, selectors='content', wcmmode='disabled'}"></sly>
	
	<sly data-sly-call="${jsonschema.json_schema @ pageModel = pageModel}" data-sly-unwrap></sly>
	</sly>
</sly>
</template>