
.coral3-Dialog-header {
	width: 100% !important;
}

.coral-FixedColumn-column {
	width: 100% !important;
}

.coral3-Dialog-content {
	padding: 0px !important;
}

.coral-Form-fieldlabel {

    display: inline-block !important;
}

.coral-Form-field {

    display: inline-block !important;
    height: 2.0rem !important;
}

.cq-dialog-help {

	display: none !important;
}