@font-face {
  font-family: Lato;
  font-weight: 400;
  src: url(../resources/fonts/lato/Lato-Regular.ttf);
}
@font-face {
  font-family: Lato;
  font-weight: 700;
  src: url(../resources/fonts/lato/Lato-Bold.ttf);
}
@font-face {
  font-family: Bitter;
  font-weight: 600;
  src: url(../resources/fonts/bitter/Bitter-SemiBold.ttf);
}