.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.hdrCont {
  background: linear-gradient(
    90deg,
    rgb(250, 250, 250) 0%,
    rgb(255, 255, 255) 100%
  );
}

.hdrCont-Wrapper {
  padding: 6px 0;
  box-sizing: border-box;
  min-height: 72px;
  display: flex;
  align-items: center;
}
.hdrCont-splitLine {
  height: 40px;
  width: 1px;
  background: #c5c9cc;
  margin: 0 24px;
}

.hdrCont-logo > img {
  max-width: 100%;
  max-height: 40px;
  object-fit: cover;
}
