<sly  data-sly-use.pageInfoModel="com.anthem.platform.core.models.datalayer.PageInfo" 
	  data-sly-use.pageAttributesModel="com.anthem.platform.core.models.datalayer.PageAttributes" />

<script>
digitalData.aem.page.pageInfo = JSON.parse('${pageInfoModel.json @ context="scriptString"}');
digitalData.aem.page.attributes = JSON.parse('${pageAttributesModel.json @ context="scriptString"}');

if (digitalData && digitalData.aem && digitalData.aem.page && digitalData.aem.page.attributes) {
	digitalData.aem.page.attributes.errorType = ${pageProperties.jcr:title @ context="scriptString"};
}
</script>