# Configuration created by Apache Sling JCR Installer
endpointId="api.akamai"
akamaiAccessToken="akab-d6nfsxzd27wrl3nh-dvfdfjxdvitxv42g"
akamaiClientToken="akab-dbsdkv2pfndae3ir-wkggntqdqcb54baf"
akamaiHostUrl="akab-6ftdkos3q266p5rv-ga664jmei3kulcce.luna.akamaiapis.net"
akamaiClientSecretKey="NkUqjT8srrEnHlEz4LaIdVst4IVluYk8HHQRMFkV37E\="
connectionTimeOut="60"
socketTimeOut="60"
requestTimeOut="60"