# Configuration created by Apache Sling JCR Installer
identitySyncType="default"
keyStorePassword="changeit"
service.ranking=I"5002"
idpHttpRedirect=B"false"
createUser=B"true"
defaultRedirectUrl="/sites.html"
userIDAttribute="UserId"
idpIdentifier="saml.test.anthem.com:AdobeAEMUAT"
assertionConsumerServiceURL=""
defaultGroups=["anthem-visitors"]
storeSAMLResponse=B"false"
signatureMethod="http://www.w3.org/2001/04/xmldsig-more#rsa-sha256"
idpCertAlias="admin#1624037704716"
addGroupMemberships=B"true"
path=["/"]
digestMethod="http://www.w3.org/2001/04/xmlenc#sha256"
synchronizeAttributes=["UserId\=profile/userid","FirstName\=profile/givenName","LastName\=profile/familyName","EmailAddress\=profile/email"]
clockTolerance=I"60"
groupMembershipAttribute="groupMembership"
idpUrl="https://secure-gateway.uat.va.antheminc.com/affwebservices/public/saml2sso"
logoutUrl=""
serviceProviderEntityId="ANTHEM-AEM-UAT-ADFS"
handleLogout=B"false"
userIntermediatePath="/anthem/adfs"
spPrivateKeyAlias=""
useEncryption=B"false"
nameIdFormat="urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified"
