# Configuration created by Apache Sling JCR Installer
client_secret="o8Dyi4z-FiH-V3UOiTVrJD0Bva8_5QKek-A_no1VLAKnGZvHtrJuQbBKaCpu8OMCDvIgOW95KuUAWcmb055U5Q"
accountAlias="Anthem\ AEM\ Brightcove\ connector"
client_id="95e69109-0001-4f64-b4b3-77229ad0a7c7"
defVideoPlayerID="default"
allowed_groups=["anthem-authors","administrators","content-authors","everyone"]
proxy=""
defPlaylistPlayerID="default"
ingest_profile=""
key="3707693280001"
asset_integration_path="/content/dam/brightcove_videos"
defPlaylistPlayerKey=""
playersstore="/content/brightcovetools/players"
defVideoPlayerKey=""
