# Configuration created by Apache Sling JCR Installer
prop.rules.resource-only=[""]
prop.replication-action-type="DELETE"
prop.rules.hierarchical=["/etc/packages/com.anthem/platform(.*)zip\=/etc.clientlibs/anthem","/etc/packages/com.anthem/medicare(.*)zip\=/etc.clientlibs/anthem/medicare","/etc/packages/com.anthem/campaigns(.*)zip\=/etc.clientlibs/anthem/campaigns","/etc/acs-commons/lists/anthem/(.*)\=/content/anthem/_jcr_content/servlets/getStates"]
